.footer{
    width: 76%;
}

.btn-feedback{
    width: 75%;
    border: none;
    padding: 15px 0px;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 16px;
}

.inputemail input {
    height: 40px;
    border-radius: 30px;
    border: 1px solid gray;
    padding-left: 10px;
    outline: none;

}

.inputemail input:focus{
    box-shadow: rgba(25, 1, 240, 0.2) 0px 2px 8px 0px;
}

.inputemail div{
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 999px;
    font-size: 12px;
}


.img-social{
    width: 40px;
}

.footer-last{
    padding-right: 20px;
    height: 40px;
    text-align: end;
    line-height: 40px;
}